@import "../../common/css/common";

@font-face {
	font-family: 'museosans';
	font-weight: 900;
	src: url('https://font.static.useinsider.com/coraltravel/museosanscyrl-900-webfont.ttf');
}

@font-face {
	font-family: 'museosans';
	font-weight: bold;
	src: url('https://font.static.useinsider.com/coraltravel/museosanscyrl-700-webfont.ttf');
}

@font-face {
	font-family: 'museosans';
	font-weight: normal;
	src: url('https://font.static.useinsider.com/coraltravel/museosanscyrl-500-webfont.ttf');
}

@font-face {
	font-family: 'museosans';
	font-weight: 300;
	src: url('https://font.static.useinsider.com/coraltravel/museosanscyrl-300-webfont.ttf');
}

#site-wrap {
	font-family: museosans;
	font-weight: normal;
	h1,h2,h3,h4,h5,h6 {
		font-weight: bold;
	}

	.kv {
		.proportional(1370/495);
		background: url("../iii/kv-desktop.jpg") center no-repeat;
		background-size: cover;
		border-radius: 1.5em;
		@media screen and (max-width: @mobile-breakpoint) {
			.proportional(720/864);
			background-image: url(../iii/kv-mobile.jpg);
		}

		> div {
			.flex-center;
			.silly-b2c-font-size(@max-font-size: 40px, @mobile-based-font-size: 48px);
			line-height: 1.2;
			font-weight: bold;
			color: black;
			padding: 5% 60% 5% 10%;
			@media screen and (max-width: @mobile-breakpoint) {
				padding: 5% 5% 80%;
				text-align: center;
			}
		}
	}

	.annual-nav {
		display: flex;
		justify-content: center;
		margin-top: 3em;
		>button {
			flex: 1 1 auto;
			.interactive;
			outline: none;
			.flex-center;
			line-height: 1;
			height: 2.4em;
			//padding: 0 1.5em;
			border: 0;
			border-radius: .5em;
			font-family: inherit;
			font-size: inherit;
			background-color: white;
			color: inherit;
			margin: 0 .5em;
			cursor: pointer;
			box-shadow: inset 0 0 0 1px #1EBDFF;
			.transit(color);
			.transit(background);
			.transit(box-shadow);
			&:hover {
				box-shadow: inset 0 0 0 1px #F0AB00;
				background-color: #F0AB00;
				color: white;
			}
		}
	}

	.all-reviews {
		.review-block {
			display: none;
			opacity: 0;
			transform: translateY(100%);

			background-color: white;
			border-radius: 1.5em;
			line-height: 1.4;
			padding-top: 2em;
			margin-top: 3em;
			.transit(transform);
			.transit(opacity);
			@media screen and (max-width: @mobile-breakpoint) {
				padding-top: 1.5em;
			}

			&.shown {
				display: block;
				transform: none;
				opacity: 1;
			}

			.head-body {
				padding: 1em 3em 2em;
				border-radius: 1.5em;
				box-shadow: 0 327px 131px rgba(0, 0, 0, 0.01), 0 82px 82px rgba(0, 0, 0, 0.09), 0 20px 45px rgba(0, 0, 0, 0.1);
				@media screen and (max-width: @mobile-breakpoint) {
					padding: 1em 2em 2em;
				}

				h4 {
					font-size: (24/14em);
					margin-bottom: 1em;
				}

				.body {
					a {
						font-family: inherit;
						font-size: inherit;
						line-height: inherit;
						color: #1EBDFF;
						text-decoration: underline;
					}
				}
			}

			.foot {
				display: flex;
				justify-content: space-between;
				padding: 1.5em 3em 1.5em;
				@media screen and (max-width: @mobile-breakpoint) {
					padding: 1.5em 2em 1.5em;
				}

				.date {
					font-weight: bold;
					align-self: flex-end;
				}
			}
		}
	}

}

//  Native layout tweaks
[data-module="contentLayout"] {
	.background {
		&:before {
			content: none!important;
		}
	}
	.bcrumb {
		.breadcrumb-item {
			color: inherit;
			&.active:after {
				background-color: currentColor;
			}
			a {
				color: inherit;
			}
		}
	}
	.notcritical .container {
		margin-top: 0!important;
		.leftcol {
			font-family: museosans;
			font-weight: normal;
		}
		.rightcol {
			> h1 {
				display: none;
			}
		}
	}
}

[data-module="leftSiblingMenu"] {
	.minus {
		&:before {
			content: none!important;
		}
	}
	ul.leftSiblingMenu {
		>li.selected {
			display: flex!important;
			flex-wrap: wrap;
			align-items: center;
			&:before {
				display: inline-block;
				width: .5em;
				height: 1em;
				background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMiAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMkw5IDlMMiAxNiIgc3Ryb2tlPSIjRjBBQjAwIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K") center no-repeat;
				background-size: contain;
				margin-right: .5em;
			}
			>.d-flex {
				flex-grow: 1;
			}
			.slideContent {
				width: 100%;
			}
			span {
				background-color: transparent!important;
				color: inherit!important;
				padding: unset!important;
				display: unset!important;
			}
		}
	}
	.slide.plus {
		order: 1;
		margin-left: auto;
		display: flex;
		align-items: center;
		&.open:before {
			transform: scaleY(-1);
		}
		&:before {
			content: '' !important;
			width: 1.5em;
			height: .75em;
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjUgMUw4LjUgOEwxLjUgMC45OTk5OTkiIHN0cm9rZT0iIzg4ODg4OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==") center no-repeat;
			background-size: contain;
			.transit(transform);
		}
	}
	ul.slideContent {
		padding-left: 1.5em;
		li {
			line-height: 1.4;
		}
		&[style*=block] ~ .d-flex .slide.plus {
			display: none;
		}
	}
}